hr{
     
}

.custitle{
position: absolute;
top: 15rem;
left: 57rem;
color: rbg(53, 57, 53);
z-index: 1;
font-size: 5rem;
font-family: futura;
font-weight: bold;
}

.cusbg{
height: 850px;
opacity: 0.9;
 }

 .cusbut :hover{
   background-color: green !important;
   color : red !important;
}

 .cusbut{
   margin-left: 12rem !important;
   font: 1rem light, Arial !important;
   text-decoration: none;
   color : beige;
   border-color: black !important;
   border-radius: 5px;
   padding: 1rem !important;
   border-radius: 3px !important;
   background-color: rgb(37, 37, 37) !important;
  
 }



 @media screen and (min-width: 360px) and (orientation: portrait){
   .cusbg{
      height: 300px;
   } 
   .custitle{
      position: absolute;
      left: 12rem !important;
      top: 8rem !important;
      color: rbg(53, 57, 52);
      z-index: 1;
      font-size: 1.4rem !important;
   }
   
   .cushori{
      margin-left: 2.8rem !important;
      width: 4rem;
   }
   
   .cusbut{
     margin-left: -0px !important;
     width: 10rem !important;
     font-size: 0.7rem !important;
    }
   
    
   }



@media screen and (min-width: 375px) and (orientation: portrait){
.cusbg{
   height: 300px;
} 
.custitle{
   position: absolute;
   left: 13rem !important;
   top: 8rem !important;
   color: rbg(53, 57, 52);
   z-index: 1;
   font-size: 1.4rem !important;
}

.cushori{
   margin-left: 2.8rem !important;
   width: 4rem;
}

.cusbut{
  margin-left: -3px !important;
  width: 10rem !important;
  font-size: 0.7rem !important;
 }

 
}

@media screen and (min-width: 414px) and (orientation: portrait){
   .custitle{
      position: absolute;
      left: 14rem !important;
      font-size: 1.4rem !important;
  }

  .cusbut{
   margin-left: 0px !important;
   width: 10rem !important;
   font-size: 0.7rem !important;
    }

  }

@media screen and (min-width: 390px) and (orientation: portrait){
   .custitle{
      position: absolute;
      left: 14rem !important;
      font-size: 1.4rem !important;
  }

  .cusbut{
   margin-left: -2px !important;
   width: 10rem !important;
   font-size: 0.7rem !important;
    }

  }

@media screen and (min-width: 540px) and (orientation: portrait){
   
   .cushori{
      width: 10rem;
      margin-left: 1.4rem !important;
   }

   .custitle{
      position: absolute;
      left: 18rem !important;
      font-size: 2rem !important;
   } 
    
   .cusbut{
      margin-left: 0.7rem !important;
      width: 12rem !important;
    }

   }

   @media screen and (min-width: 698px) and (orientation: portrait){
   
      .cushori{
         width: 10rem;
         margin-left: 4rem !important;
      }
   
      .custitle{
         position: absolute;
         left: 25rem !important;
         font-size: 2.7rem !important;
      } 
       
      .cusbut{
         margin-left: 1.9rem !important;
         width: 14rem !important;
         font-size: 1.3rem !important;
       }

      }

  

  
@media screen and (min-width: 820px) and (orientation: portrait){

   .cushori{
      width: 10rem;
      margin-left: 4rem !important;
   }

   .custitle{
      position: absolute;
      left: 30rem !important;
      font-size: 2.8rem !important;
   } 
    
   .cusbut{
      margin-left: 32rem !important;
      width: 14rem !important;
    }

}

   @media screen and (min-width: 768px) and (orientation: portrait){
   
      .cushori{
         width: 10rem;
         margin-left: 4rem !important;
      }
   
      .custitle{
         position: absolute;
         left: 27rem !important;
         font-size: 2.7rem !important;
      } 
       
      .cusbut{
         margin-left: 2rem !important;
         width: 14rem !important;
         font-size: 1.3rem !important;
       }

      }

      
      @media screen and (min-width: 912px) and (orientation: portrait){
   
         .cushori{
            width: 10rem;
            margin-left: 4rem !important;
         }
      
         .custitle{
            position: absolute;
            left: 33rem !important;
            font-size: 2.7rem !important;
         } 
          
         .cusbut{
            margin-left: 2rem !important;
            width: 14rem !important;
            font-size: 1.3rem !important;
          }
   
         }

        
        
        
        
      

   
            