.cusfooterbg{
    height: 30rem;
    position: relative;
    filter : grayscale(0%);
    top:400px;
    z-index: -1;
}

.footer-content{
    color: black;
  
}

.footer-line{
    width: 24rem;
}

.social-section{
    margin-left: 10rem;
}

.footer-socials{
   margin-left: 7rem;
   padding-top: 1rem;
}

.footer-icons{
    list-style-type: none;
    gap:0.3rem;
    font-size: 2rem;
    display: flex;
}

.what{
    color: #4d924b;
}

.insta{
   color: rgb(255, 102, 46);
}